<ActionBar title="">
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Label width="100" [text]="title">dhdfh</Label>
    </StackLayout>
    <ActionItem (tap)="logout()" 
        ios.systemIcon="16" ios.position="right"
        text="cbkckjLogout" android.position="popup"></ActionItem>
</ActionBar>
<TabView (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <StackLayout class="tabitem" *tabItem="{title: 'My Account', iconSource: getIconSource('home')}">
        <Home></Home>
    </StackLayout>
    <StackLayout class="tabitem" *tabItem="{title: 'Loans', iconSource: getIconSource('search')}">
        <Search></Search>
    </StackLayout>
    <StackLayout class="tabitem" *tabItem="{title: 'Scan', iconSource: getIconSource('search')}">
            <Scan></Scan>
        </StackLayout>
    <StackLayout class="tabitem" *tabItem="{title: 'GroupRooms', iconSource: getIconSource('rooms')}">
        <Rooms></Rooms>
    </StackLayout>
</TabView>