<GridLayout backgroundColor="#CCCCCC">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                <StackLayout class="input-field">
                    <Label text="Namn" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="user.full_name"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="email" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="user.email"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="streetaddress" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="user.streetaddress"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="city" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="user.city"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>